#followers: {{input value=numberOfFollowersFilterAmountInput}}<br>
#repositories: {{input value=numberOfPublicRepositoriesFilterAmountInput}}<br>
#gists: {{input value=numberOfPublicGistsAmountInput}}<br>

{{#each contributor in filteredContributors}}
    {{#link-to 'contributor' contributor.login}}
        <p>{{contributor.login}}, #f: {{contributor.numberOfFollowers}}, #r: {{contributor.numberOfPublicRepositories}}, #g: {{contributor.numberOfPublicGists}}</p>
    {{/link-to}}
{{/each}}